<div class="footer">
<div class="footer_box">
<div class="footer_head">How it works</div>
<ul>
    <li class="mlink"><a href="#">All major credit and dabit cards</a></li>
    <li class="mlink"><a href="#">are accepted. we also accept</a>
    <li class="mlink"><a href="#">payment by Internet Banking.</a></li>
    <li class="mlink"><a href="#">Cash on Delivery and Equated</a></li>
	<li class="mlink"><a href="#">Monthly Installments(EMI).</a></li>
  </ul>
 </div>
 <div class="footer_box">
 <div class="footer_head">Help</div>
	<ul>
    <li class="mlink"><a href="#">Payments</a></li>
    <li class="mlink"><a href="#">Saved Cards</a>
    <li class="mlink"><a href="#">Shipping</a></li>
    <li class="mlink"><a href="#">Cancellation & Returns</a></li>
	<li class="mlink"><a href="#">FAQ</a></li>
	
  </ul>
 </div>
 <div class="footer_box">
 <div class="footer_head">Kanchi Silks</div>
<ul>
    <li class="mlink"><a href="#">About</a></li>
    <li class="mlink"><a href="#">contact</a>
    <li class="mlink"><a href="#">Terms and Conditions</a></li>
    <li class="mlink"><a href="#">Affiliate Programme</a></li>
	<li class="mlink"><a href="#">Privacy Policy</a></li>
	  </ul>
 </div>
 <div class="footer_box">
 <div class="footer_head">Get Social</div>
<ul>
    <li class="mlink"><a href="#">Follow us on Twitter</a></li>
    <li class="mlink"><a href="#">Like Us on facebook</a>
    <li class="mlink"><a href="#">Goggle Plus</a></li>
 </ul>
 </div>
 <div class="footer_box">
 <div class="footer_head">Newsletter Signup</div>
<ul>
    <li class="mlink"><a href="#">Never behind of any new deals on each</a></li>
    <li class="mlink"><a href="#">products. Signup Here... </a>
    <li class="mlink"><input type="text" placeholder="Email address" style="width:150px;"><input type="submit" value="Go"></li>
  </ul>
 </div>
 <div class="footer_bottom"><span>&copy;Copyright 2013. All Rights Reserved by <label style="color:#000000;font-weight:bold;"> Kanchi Silks</label></span>
 <label class="payopt_logo"><img src="/images/payopt.png"></label></div>
 </div>